@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
	3.4 Main Nav
	3.5 Hamburger
4. Menu
5. Home
6. Language
7. Courses
8. Instructors
9. Register
10. Events
11. Blog



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
/* div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;
	color: rgba(0,0,0,0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
/* p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important; 
}
*/
/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.025);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	top: -51px;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	background: #FFFFFF;
	border-bottom: solid 1px #ebebeb;
	z-index: 10;
}
.top_bar_container
{
	width: 100%;
}
.top_bar_content
{
	height: 49px;
	font-size: 12px;
	color: rgba(0,0,0,0.4);
	font-weight: 600;
}
.top_bar_phone
{
	
}
.top_bar_title
{
	margin-right: 10px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}
.top_bar_lang
{
	display: inline-block;	
}
.lang_list
{
	display: inline-block;
}
.lang_list > li
{
	display: inline-block;
}
.lang_list li a
{
	color: rgba(0,0,0,0.4);
	padding-top: 17px;
	padding-bottom: 17px;
}
.lang_list li a:hover
{
	color: rgba(0,0,0,1);
}
.lang_list li a i
{
	margin-left: 7px;
}
.lang_list > li ul
{
	position: absolute;
	right: -10px;
	top: 44px;
	background: #FFFFFF;
	padding-right: 23px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.lang_list > li:hover ul
{
	top: 34px;
	visibility: visible;
	opacity: 1;
}
.lang_list > li ul li
{
	text-align: right;
	
	
}
.lang_list > li ul li a
{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
}
.top_bar_social
{
	display: inline-block;
	margin-left: 79px;
	margin-right: -6px;
}
.social_title
{
	margin-right: 13px;
}
.top_bar_social ul
{
	display: inline-block;
}
.top_bar_social ul li
{
	display: inline-block;
}
.top_bar_social ul li a i
{
	font-size: 12px;
	color: rgba(0,0,0,0.4);
	padding: 6px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.top_bar_social ul li a i:hover
{
	color: rgba(0,0,0,1);
}

/*********************************
3.2 Header Content
*********************************/

.header_container
{
	width: 100%;
	background: #FFFFFF;
}
.header_content
{
	height: 80px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .header_content
{
	height: 80px;
}

/*********************************
6. Language
*********************************/

.language
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.language_slider_container
{
	width: 100%;
	padding-left: 52px;
	padding-right: 52px;
}
.language_item
{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	cursor: pointer;
}
.flag
{
	width: 50px;
	margin: 0 auto;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.flag img
{
	max-width: 100%;
}
.lang_name
{
	font-size: 12px;
	font-weight: 600;
	color: rgba(0,0,0,0.4);
	margin-top: 14px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.language_item:hover .lang_name
{
	color: rgba(0,0,0,0.8);
}
.language_item:hover .flag
{
	-webkig-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
	box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}
.lang_nav
{
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background: transparent;
	text-align: center;
	cursor: pointer;
}
.lang_nav i
{
	font-size: 18px;
	line-height: 30px;
	color: rgba(0,0,0,0.3);
	font-weight: 700;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.lang_nav:hover i
{
	color: rgba(0,0,0,0.8);
}
.lang_prev
{
	left: -13px;
}
.lang_next
{
	right: -13px;
}
